.contact {
  display: flex;
  justify-content: center;
  padding-top: 6.25rem;

  h2 {
    padding: 0;
    text-align: left;
  }

  &__title {

    h2 {
      margin-bottom: 1em;
    }
  }

  &__container {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 12.6336248785228%;
    width: 70%;


    .autorize {
      grid-row-start: 2;
    }

    form {
      grid-row-start: 1;
      grid-column-start: 2;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);

      #email, #name-firstname, #country {
        font-size: 1rem;
        font-family: "TT Lakes Neue Trial", sans-serif;
        display: inline-block;
        padding: 1.625rem 0 1.625rem 1.625rem;
        width: 85%;
        border-radius: 7px;
        border: 3px solid white;
        background-color: black;
        color: #585858;
        align-self: center;
      }

      #email {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      #name-firstname {
        grid-column-start: 1;
        padding-right: 0;
      }

      #country {
        grid-column-start: 2;
        align-self: center;
        color: white;

      }

      .autorize {
        grid-row-start: 3;
      }

      input {
        align-self: center;
      }
      .submit{
        width: 0.5fr;
        grid-row-start: 4;
        font-size: 1.25rem;
        padding: 1em 1.5em;
        color: white;
        font-family: "TT Lakes Neue Trial", serif;
        border: none;
        border-radius: 6px;
        background-color: #A28E62;
        transition: 0.5s;
      }
    }
  }
}