.info {
  background-color: #261B17;

  &__items {
    display: flex;
    justify-content: flex-end;
    padding-top: 6em;
    padding-bottom: 6em;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 110px;
    width: 652.5px;
  }

  &__studies {
    line-height: 27px;
    text-align: center;
    margin-top: 1em;

    p {
      width: 540px;
    }
  }

  &__buttons {
    margin-top: 2em;
  }

  &__contact {
    padding: 0.8em 1.2em;
    font-size: 1em;
    font-family: "TT Lakes Neue Trial", serif;
    border: none;
    border-radius: 6px;
    background-color: #A28E62;
    margin-right: 50px;
    transition: 0.2s;
  }

  &__portfolio {
    font-size: 1em;
    font-family: "TT Lakes Neue Trial", serif;
    padding: 0.8em 1.2em;
    background-color: black;
    border: solid 2px white;
    border-radius: 6px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  a {
    transform: scale(1.1);
    transition: 0.5s;
  }


}