.student-job {
  &__container {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-image: url("img/bgimage.png");
    background-attachment: fixed;

  }

  &__h3 {
    font-size: 1.1em;
    text-align: center;
    width: 61.22%;
    margin-top: 0.9375rem;
    align-self: center;
  }

  &__article-container {
    align-self: center;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 33%);
    column-gap: 1.21%;
    padding-top: 6em;
  }

  &__article {
    svg {
      margin-bottom: 1rem;
    }

    h3 {
      text-transform: uppercase;
      margin-bottom: 1em;
    }
  }
}


@media (max-width: 1000px ) {
  .student-job{
    &__article-container{
      display: flex;
      flex-direction: column;
    }
    &__article{
      margin-bottom: 2rem;
    }
  }
}
