ul, ol {
  list-style: none;
}

.logo {
  font-family: $dsfont;
  font-size: 1.25rem;
  display: inline-block;
  text-align: center;
  padding-left: 1em;
  align-self: center;
}

header {
  display: flex;
  justify-content: flex-start;
  background-color: black;
}

#main-nav {
  padding: 1em;
  align-self: center;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 1.25rem 1.5625rem;
  color: white;

  :hover {
    background-color: #4f4f4f;
  }
}

ul li ul.dropdown {
  width: 200%;
  background-color: black;
  position: absolute;
  top: -11111px;
  z-index: 999;
  display: none;
  transition: 0.2s;

  li {
    display: block;
  }
}

ul li:hover ul.dropdown {
  display: block;
  top: 2em;
  transition: 0.2s;
}

.dropdown li a:hover {
  color: #A68D5B;
}

.ul-element {
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .item:hover {
    color: #A68D5B;
  }
}

.item {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1rem;
}

.item * {
  text-transform: none;
  font-size: 1rem;
  font-weight: normal;
}


.button__container {
  margin-left: auto;
}

.contact-button {
  background-color: #A68D5B;
  padding: 1em 1.9em;
  border: none;

  .dropdown {
    top: 0;
    left: -122px;
    width: 300px;
  }
  ul.dropdown{
    top: 3.5em;
  }

}

#contact:hover {
  color: white;
}

#up-button {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 3.125rem;
  height: 3.125rem;
  padding: 1em;
  background-color: #FFA700;
  border: solid 5px white;
  border-radius: 10em;
  z-index: 999;

  img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    transition: 0.5s;
  }
}

#up-button:hover {
  img {
    translate: 0 -10px;
    transition: 0.5s;
  }
}
#dropdown-contact{
  top: 3.5em;
}