.school {
  background-image: url(../../img/parcdesmarais.png);
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  padding-bottom: 1rem;
  &__logo-container {
    padding-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  &__logo {
    width: 13.6054421768707%;
    height: 13.6054421768707%;
  }

  &__school-logo {
    height: 100px;
    width: 276px;
  }

  h2 {
    padding: 0;
  }

  &__cross {
    height: 2em;
  }

  &__container {
    display: flex;
    flex-direction: column;

    p {
      font-size: 1.1em;
      text-align: center;
      width: 61.22%;
      margin-top: 0.9375rem;
      align-self: center;
    }
  }
}